{% extends "dashboard/base.html" %}
{% load static humanize %}


{% block content %}

<div class="my-2 p-2 d-flex justify-content-end">
  <a class="btn btn-sm btn-primary" href="{% url 'core:product_add' %}"> <i class="bi bi-plus"></i> Add Product </a>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Products </h5>

          <!-- Table with stripped rows -->
          <table class="table small datatable">
            <thead>
              <tr>
                <th>#</th>
                <th>
                  <b>N</b>ame
                </th>
                <th>Price (N) </th>
                <th> Description </th>
                <th> Stock Qty. </th>
              </tr>
            </thead>
            <tbody>
              {% for prod in products %}
              <tr>
                  <td>{{ forloop.counter|intcomma }}</td>
                  <td> <a href="{% url "core:product_detail" prod.slug %}"> {{ prod.name }} </a> </td>
                  <td>{{ prod.price_per_piece|intcomma }}</td>
                  <td>{{ prod.description|striptags|truncatewords:'10' }} </td>                  
                  <td>{{ prod.stock_quantity|intcomma }} {{ prod.unit }} </td>                  
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5"> Nothing to show here!</td>
                </tr>
              
              {% endfor %}

            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>

{% endblock content %}