{% extends "./base.html" %}
{% load static humanize %}


{% block content %}
<style>
  .product-card{
    /* border-radius: 10px; */
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }

  .product-card .image{
    width: 100%;
    height: 200px;
  }

  .product-card .image img{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
  }
</style>


<main id="main">

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="py-5 px-2 px-lg-5">
    {% if messages %}
      {% for msg in messages %}
          <div class="bg-orange text-white bold my-3 msg rounded-0 p-2 text-center">
              {{ msg }}
          </div>
      {% endfor %}
    {% endif %}

    <h4 class="px-3 my-3 bold text-muted"> Shop Elyon </h4>

    <div class="row my-3 mx-0">
      <div class="col-sm-6 px-3 py-2">
        <select id="category-switch" class="form-control rounded-0">
          <option value="all"> All Categories </option>
          {% for category in categories %}
          <option value="{{category.name}}"> {{ category.name }} </option>
          {% endfor %}
        </select>
      </div>

      <div class="col-sm-6 px-3 py-2">
        <form method="get" class="input-group rounded-0">
          <input name="query" type="search" class="form-control rounded-0" placeholder="Search here..." />
          <button type="submit" class="btn bg-orange text-white rounded-0 input-group-btn"> <i class="bi bi-search"></i> </button>
        </form>
      </div>
    </div>

    {% if searching %}
      <div class="bg-secondary my-3 p-3 text-white d-flex align-items-center justify-content-between">
        <p class="m-0"> Showing results for {{ query }} </p>
        <a href="{% url 'store:home' %}" class="btn btn-danger btn-sm rounded-0"> Cancel </a>
      </div>
    {% endif %}

    <div class="row mx-0 justify-content-start">
      {% for product in all_products %}
        <div class="col-sm-6 col-lg-4 my-4">
          <div class="product-card small mx-auto card-body p-3 border-0 shadow-sm">
            <div class="image">
              <img src="{{ product.image.file.url }}" />
            </div>

            <div class="my-2">
              <h5> {{ product.name }} </h5>
            </div>
            
            <div class="mt-3 text-center d-flex align-items-center justify-content-between">
              <h5 class="text-muted my-0"> ₦{{ product.price_per_piece|intcomma }} </h5>
              <a href="{% url 'store:product' product.slug %}" class="btn rounded-0 bg-orange text-white bold">
                <i class="bi bi-cart-fill mr-2"></i> Add to order </a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</main>


<script>
  document.getElementById('category-switch').addEventListener(
    'input', 
    function(){
      let cat = event.target.value;
      if (cat === "all"){
        document.location.href = `{% url "store:home" %}`
      }else{
        document.location.href = `{% url "store:home" %}?query=${cat}`
      }
    }
  );
</script>
{% endblock content %}

