{% extends "dashboard/base.html" %}
{% load static humanize %}


{% block content %}
<div class="my-2 p-2 flex-wrap rounded d-flex justify-content-between align-items-center mb-3">

  <div class="my-1">
    <label class="text-white bold"> Quick Action </label>
    <form id="action-form" class="input-group" method="post">
      {% csrf_token %}

      <select required="true" name="action" class="p-2 w-100">
        <option selected disabled> Select an action </option>
        <option value="delete"> Delete Selected Items </option>
        <option value="change_status:pending"> Set Items as Pending </option>
        <option value="change_status:confirmed"> Set Items as Confirmed </option>
        <option value="change_status:on-route"> Set Items as On Route </option>
        <option value="change_status:fulfilled"> Set Items as Fulfilled  </option>
        <option value="change_payment:true"> Mark Selected Items as Paid</option>
        <option value="change_payment:false"> Mark Selected Items as Not Paid</option>
      </select>

      <button type="submit" class="p-2 w-100 m-0 btn btn-sm btn-warning"> Proceed </button>
    </form>
  </div>

  <a class="btn btn-md btn-primary my-1" href="{% url 'core:order_add' %}"> <i class="bi bi-plus"></i> New Order </a>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Showing all orders </h5>

          <!-- Table with stripped rows -->
          <table class="table datatable table-responsive">
            <thead>
              <tr>
                <th> # </th>
                <th> OrderID </th>
                <th> Customer </th>
                <th> Date Created </th>
                <th> Total </th>
                <th> Payment Status </th>
                <th> Delivery Status </th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr>
                  <td>
                    <input name="action-item" form="action-form" type="checkbox" value="{{order.invoice_id}}" />
                    {{ forloop.counter }} 
                  </td>
                  <td><a href="{% url 'core:order_detail' order.invoice_id %}"> {{ order.invoice_id|upper }} </a> </td>
                  <td>{{ order.invoiced_to }}</td>
                  <td>{{ order.date_created}} <br> <small>({{ order.date_created|timesince|naturaltime }}) ago.</small> </td>
                  <td>{{ order.total|intcomma }} </td>
                  <td> <span class="badge bold py-2 px-3 rounded-0 {% if order.payment_status %}bg-success{% else %}bg-warning{% endif %}">{{ order.payment_status }}</span> </td>
                  <td> <span class="badge bold py-2 px-3 rounded-0 
                    {% if order.status == 'pending' %}
                      bg-primary
                    {% elif order.status == 'confirmed' %}
                      bg-info
                    {% elif order.status == 'on-route' %}
                      bg-warning
                    {% elif order.status == 'fulfilled' %}
                      bg-success
                    {% endif %}  
                  ">{{ order.get_status_display|title }}</span> </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5"> Nothing to show here!</td>
                </tr>
              
              {% endfor %}

            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>

{% endblock content %}